.dko-page_img_Serebryakova {
  background-image: url(../images/Serebryakova.png);
}

.dko-page {
  width: 1089px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 48px 0 64px 0;
  font-size: 14px;
}

.dko-page__mail {
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #E4003A;
  font-family: "Roboto", Arial, sans-serif;
}

.dko-page__img_circle {
  background-size: cover;
  border-radius: 100px;
  margin: auto 0px;
}

.dko-page h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.dko-page ul {
  list-style: none;
  padding-left: 10px;
  line-height: 18px;
}

.dko-page ul > li {
  display: flex;
}

.dko-page ul > li::before {
  content: "•";
  min-width: 15px;
}

.dko-page__director {
  display: flex;
  flex-direction: row;
}

.dko-page__director_img {
  width: 80px;
  height: 80px;
}

.dko-page__director_text {
  height: 50px;
  width: 580px;
  margin: auto auto auto 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 18px;
}

.dko-page__director_text__fio {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.dko-page__director_text__position {
  font-weight: 300;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
}

.dko-page__director_text__tel {
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

.dko_page__btn {
  background: #E9ECF1;
  border-radius: 12px;
  border: 0;
  margin-right: 6px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
}

.dko_page__btn_white {
  background: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #E9ECF1;
  margin-right: 6px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
}

.dko_page__btn_down {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNy4zNzUgMC44NzVMNCA0LjYyNUwwLjYyNSAwLjg3NSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.dko_page__btn_up {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC42MjUgNS4xMjVMNCAxLjM3NUw3LjM3NSA1LjEyNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.dko_page__buttons {
  margin: 45px 0 35px 0;
}

.dko_page__buttons button {
  padding: 10px 16px;
  font-weight: 400;
}


.dko_page__buttons a {
  color: black;
  padding: 10px 16px;
  font-weight: 400;
  text-decoration: none;
}

.dko_page__btn_tab_active {
  background: #00234D;
  color: #FFFFFF !important;
}

.dko_page__btn_heart {
  color: #E4003A;
}

.dko_page__card_border_white {
  background: #FFFFFF;
  /* background: #d3e2d3;*/
  box-shadow: 0px 8px 24px rgb(4 19 50 / 4%);
  border-radius: 12px;
}

.dko_page__card_border_accent {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgb(4 19 50 / 4%);
  border-radius: 12px;
  border: 1px solid #E4003A;
}




