.find-harmony {
  max-width: 828px;
  margin: 65px auto;
  color: #151515;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.find-harmony li::before {
  content: "•";
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  width: 10px;
  margin-left: 0;
}

.find-harmony ul {
  margin: 0px;
  list-style: none;
  padding-left: 0;
}

.find-harmony ul > li {
  display: flex;
}

.find-harmony h1 {
  font-weight: 600;
  font-size: 32px;
}

.find-harmony h2 {
  font-weight: 600;
  font-size: 24px;
}

.find-harmony__when {
  padding: 32px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 64px;
  justify-content: space-between;
}

.find-harmony__when div {
  font-weight: 500;
  line-height: 19px;
  white-space: nowrap
}

.find-harmony__when span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  white-space: nowrap
}

.find-harmony__target_audience__img {
  width: 334px;
  height: 134px;
  background-image: url(../images/exp_bank_new.jpg);
  background-size: cover;
  position: relative;
}

.find-harmony__target_audience__text {
  position: absolute;
  bottom: 24px;
  left: 28px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.find-harmony__goals {
  margin-top: 65px;
}

.find-harmony__results_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.find-harmony__results {
  margin-top: 65px;
}

.find-harmony__results_list div {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  box-sizing: border-box;
  color: white;
  background: #E40038;
  box-shadow: 0px 8px 24px rgba(18, 18, 18, 0.16);
  border-radius: 12px;
  padding: 32px 23px 32px 25px;
}

.find-harmony__results_list div:nth-child(1) {
  width: 297px;
}

.find-harmony__results_list div:nth-child(2) {
  width: 505px;
}

.find-harmony__results_list span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.find-harmony__card_border_white {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(18, 18, 18, 0.16);
  border-radius: 12px;
}

.find-harmony__records {
/*  border: 1px solid blue;*/
  margin-top: 75px;
}

.find-harmony__records_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.find-harmony__records__img {
  margin-top: 25px;
  width: 267px;
  height: 161px;
  background-size: cover;
  position: relative;
  border-radius: 12px;
}

.find-harmony__records_compilation {
  background-color: #FFFFFF;
  color: black;
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 12px;
  font-size: 12px;
  padding: 3px 10px 3px 35px;
  background-repeat: no-repeat;
  background-position: 8px 50%;
}

.find-harmony__records_heading {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  width: 155px;
  position: absolute;
  left: 15px;
  top: 80px;
}

.find-harmony__records__img1 {
  background-image: url(../images/find-harmony__records1.png);
}

.find-harmony__records__img2 {
  background-image: url(../images/find-harmony__records2.png);
}

.find-harmony__records__img3 {
  background-image: url(../images/find-harmony__records3.png);
}

.find-harmony__records__img4 {
  background-image: url(../images/find-harmony__records4.png);
}

.find-harmony__records__img5 {
  background-image: url(../images/find-harmony__records5.png);
}

.find-harmony__records__img6 {
  background-image: url(../images/find-harmony__records6.png);
}

.find-harmony__reviews {
  margin-top: 75px;
}

.find-harmony__carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}

.find-harmony__carousel_button {
  border: 1px solid #E40038;
  background: #E40038;
  width: 40px;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.find-harmony__carousel_button_left {
  margin: 30px 40px 0px 0px;
}

.find-harmony__carousel_button_right {
  margin: 30px 0px 0px 40px;
}

.find-harmony__carousel_button_circle {
  background-size: cover;
  border-radius: 100px;
  margin: auto 0px;
}

.find-harmony__carousel_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0px
}

.find-harmony__carousel_flagReverse {
  flex-direction: row-reverse;
}

.find-harmony__carousel_card_display_none {
  display: none;
}

.find-harmony__carousel_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 343px;
  min-width: 343px;
  /*height: 250px;*/
  margin: 15px 15px 15px 15px;
  padding: 16px 16px 20px 16px;
}

.find-harmony__carousel_card_fio {
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
}

.find-harmony__carousel_card_position {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  font-family: "Roboto", Arial, sans-serif;
}

.find-harmony__carousel_card_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.find-harmony__modal {
  /*max-height: 450px;*/
 /* max-width: 459px;*/
  position: relative;
  border-radius: 12px;
  padding: 25px;
}

.find-harmony__modal_text {
  font-size: 14px;
  line-height: 20px;
}

.find-harmony__carousel_card_modal_link {
  color: #E40038;
  font-size: 14px;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
}
.find-harmony__modal1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.find-harmony__popup_close {
 /* position: absolute;
  top: 30px;
  left: 465px;*/
  width: 14px;
  height: 14px;
  background-image: url(../images/close.svg);
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
}


.find-harmony__carousel-indicators{
  display: flex;
  margin-top: 10px;
}

.find-harmony__carousel-indicators div{
  margin: 0 auto;
}

.find-harmony__carousel-indicators button{
  width: 50px;
  background: rgba(228, 0, 58, 0.2);
  margin: 0 2px;
  padding-top: 3px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}


.find-harmony__carousel-indicators_active{
  background: #E40038 !important;
}


.find-harmony__footer {
  margin-top: 50px;
  font-size: 14px;
  line-height: 20px;
}


