.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;

    padding-left: 36px;
    padding-right: 36px;
    border-bottom: 1px solid #E9ECF1;
}

.header__logo {
    height: 40px;
    width: 120px;
}

.header__nav {
    display: flex;
}

.header__nav-link {
    display: flex;
    border: 1px solid rgb(0, 0, 0,0.1);
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    padding: 0 24px;
    color: black;
    text-decoration: none;
    align-items: center;
}

.header__nav-link:hover {
    border: 1px solid rgb(0, 0, 0,0.4);
}

.header__nav-link:first-of-type {
    margin-right: 8px;
}

.header__nav-image {
    margin-left: 6px;
    margin-bottom: 3px;
}

.header__nav-person-button {
    width: 68px;
    min-height: 40px;
    display: flex;
   align-items: center;
   justify-content: space-between;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 48px;
    margin-right: 41px;
}

.header__nav-person {
    background-color: #EBEFF4;
    width: 40px;
    height: 40px;
    background-image: url(../images/user.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.header__nav-person-link {
    background-image: url(../images/triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 7px;
    height: 4px;
}

.header__nav-menu-button {
    border: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background-color: rgba(233, 236, 241, 0.4);
    padding: 8px 24px;
    border-radius: 12px;
    cursor: pointer;
    min-height: 48px;
    margin-left: 40px;
}

.header__nav-menu-button:hover {
    background-color: rgba(233, 236, 241, 0.72);
}

.header__nav-menu-button_active {
    background: #565E6B;
    color: #FFFFFF;
}
