.leader-fridays {
  max-width: 829px;
  margin: 65px auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
}

.leader-fridays h1, h2 {
  font-weight: 600;
}

.leader-fridays__top {
  margin-top: 32px;
}

.leader-fridays__when {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  width: 630px;
}

.leader-fridays__when div {
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.leader-fridays__when span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 8px;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
}

.leader-fridays__when b {
  font-weight: 600;
}

.leader-fridays__btn_div {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.leader-fridays__btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 21px;
}

.leader-fridays__btn:hover {
  background: #E40038;
  color: white;
}

.leader-fridays__btn_text {
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.leader-fridays__btn_color {
  background: rgba(228, 0, 56, 0.7);
  color: white;
}

.leader-fridays__btn_color:hover{
  background: #E40038;
  color: white;
}

.leader-fridays__btn_color1 {
  border: 1px solid #E40038;
  background: #FFFFFF;
  color: #151515;;
}

.leader-fridays__goals {
  margin-top: 65px;
}

.leader-fridays__results {
  margin-top: 65px;
}

.leader-fridays__results_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.leader-fridays__results_list div {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  box-sizing: border-box;
  color: white;
  background: #E40038;
  box-shadow: 0px 8px 24px rgba(18, 18, 18, 0.16);
  border-radius: 12px;
  padding: 32px 23px 20px 25px;
}

.leader-fridays__results_list div:nth-child(1) {
  width: 448px;
}

.leader-fridays__results_list div:nth-child(2) {
  width: 357px;
}

.leader-fridays__results_list div:nth-child(3) {
  width: 100%;
}

.leader-fridays__results_list span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.leader-fridays__results_list ul > li::before {
  color: white;
}

.leader-fridays__results_list b {
  display: contents;
}

.leader-fridays__numbers {
  margin-top: 65px;
}

.leader-fridays__numbers_divs {
  margin-top: 35px;
  display: flex;
}

.leader-fridays__numbers_div1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leader-fridays__numbers_div1 div:nth-child(1) {
  line-height: 24px;
}

.leader-fridays__numbers_div2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leader-fridays__numbers_div3 {
  width: 115px;
}

.leader-fridays__numbers_div4 {
  margin-top: auto;
}

.leader-fridays__numbers_div5 {
  margin-top: 35px;
}

.leader-fridays__numbers_text_big {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #E40038;
}

.leader-fridays__numbers_text_big {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #E40038;
}

.leader-fridays__numbers_text_big1 {
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 48px;
  color: rgba(228, 0, 56, 0.6);
}

.leader-fridays__numbers_text_big2 {
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 48px;
  color: rgba(21, 21, 21, 0.6);
}

.leader-fridays__numbers_text_very_big {
  font-weight: 100;
  font-size: 90px;
  line-height: 80px;
  color: #E40038;
}

.leader-fridays__numbers_text {
  line-height: 20px;
}

.leader-fridays__numbers_text span {
  color: #E40038;
}

.leader-fridays__numbers_people_divs {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.leader-fridays__numbers_people_divs > div {
  width: 389px;
}

.leader-fridays__red_line {
  background: #E40038;
  height: 1px;
  margin-top: 18px;
}

.leader-fridays__gray_line {
  background: #15151599;
  height: 1px;
  margin-top: 18px;
}

.leader-fridays__humans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 16px;
}

.leader-fridays__humans img {
  height: 48px;
  width: 30px;
}

.leader-fridays__nps {
  margin-top: 48px;
  display: flex;
}

.leader-fridays__nps1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.leader-fridays__nps_text {
  line-height: 34px;
}

.leader-fridays__nps_percent {
  width: 750px;
  display: flex;
}

.leader-fridays__nps_red_line {
  background: #F91C52;
  height: 3px;
  width: 85%;
  margin: auto;
}

.leader-fridays__nps_red_point {
  background: #F91C52;
  width: 9px;
  height: 9px;
  margin: auto;
  border-radius: 50%;
}

.leader-fridays__nps_gray_line {
  background: rgba(21, 21, 21, 0.6);
  height: 1.3px;
  width: 15%;
  margin: auto;
}

.leader-fridays__events {
  margin-top: 65px;
}

.leader-fridays__events_border {
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(228, 0, 56, 0) 0%, rgba(228, 0, 56, 0.05) 100%);
  border: 1px solid #E40038;
  border-radius: 12px;
  padding: 15px 0px 34px 32px;
  height: 395px;
}

.leader-fridays__events_img_wrapper {
  height: 0px;
}

.leader-fridays__events_img {
  height: 260px;
  padding-left: 412px;
  margin-top: -18px;
}

.leader-fridays__events_red-line {
  background: #E40038;
  height: 1px;
  margin: 36px 25px 16px auto;
}

.leader-fridays__events__btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  padding: 16px 24px;
  margin-top: 16px;
  display: block;
  width: max-content;
  position: relative;
  z-index: 1;
}

.leader-fridays__events__btn:hover {
  background: #E40038;
  color: white;
}

.leader-fridays__materials {
  margin-top: 65px;
}

.leader-fridays__materials_border {
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(228, 0, 56, 0) 0%, rgba(228, 0, 56, 0.05) 100%);
  border: 1px solid #E40038;
  border-radius: 12px;
  padding: 15px 0px 34px 32px;
  height: 348px;
}

.leader-fridays__materials_img_wrapper {
  height: 0px;
}

.leader-fridays__materials_img {
  height: 360px;
  padding-left: 429px;
  margin-top: -30px;
}

.leader-fridays__materials_red-line {
  background: #E40038;
  height: 1px;
  margin: 16px 25px 16px auto;
}

.leader-fridays__materials__btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  padding: 16px 24px;
  margin-top: 15px;
  display: block;
  width: max-content;
  position: relative;
  z-index: 1;
}

.leader-fridays__materials__btn:hover {
  background: #E40038;
  color: white;
}

.leader-fridays__materials_h2 {
  padding-top: 30px;
}

.leader-fridays__reviews {
  margin-top: 75px;
}

.leader-fridays__footer {
  margin-top: 65px;
}
