@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* ============ top menu styles================== */

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root.css);
@import url(./blocks/page.css);
@import url(./blocks/header.css);
@import url(./blocks/footer.css);
@import url(./blocks/main.css);
@import url(./blocks/search.css);
@import url(./blocks/lead.css);
@import url(./blocks/learnings.css);
@import url(./blocks/section-title.css);
@import url(./blocks/filters.css);
@import url(./blocks/cards.css);
@import url(./blocks/card.css);
@import url(./blocks/targets.css);
@import url(./blocks/banners.css);
@import url(./blocks/banner.css);
@import url(./blocks/popup.css);
@import url(./blocks/menu.css);
@import url(./blocks/themes.css);
@import url(./blocks/catalog.css);
@import url(./blocks/theme.css);
@import url(./blocks/all-themes.css);
@import url(./blocks/tag-list.css);
@import url(./blocks/section.css);
@import url(./blocks/sorting.css);
@import url(./blocks/form.css);
@import url(./blocks/show-card.css);
@import url(./blocks/loader.css);
@import url(./blocks/dogs.css);
@import url(./blocks/review.css);
@import url(./blocks/page-elements.css);
@import url(./blocks/cx-academy.css);
@import url(./blocks/find-harmony.css);
@import url(./blocks/dko-page.css);
@import url(./blocks/about-dko.css);
@import url(./blocks/your-T&D.css);
@import url(./blocks/get-to-study.css);
@import url(./blocks/dko-faq.css);
@import url(./blocks/be-expert2.css);
@import url(./blocks/leaders-academy.css);
@import url(./blocks/showcase-knowledge.css);
@import url(./blocks/form-create-content.css);
@import url(./blocks/sql-school.css);
@import url(./blocks/coaching-page.css);
@import url(./blocks/pep-info.css);
@import url(./blocks/new-material.css);
@import url(./blocks/accordion.css);
@import url(./blocks/leader-fridays.css);
@import url(./blocks/dko-projects.css);
@import url(./blocks/target-audience.css);
@import url(blocks/slider_TD.css);
@import url(blocks/slider-review-card.css);
@import url(blocks/track.css);
@import url(blocks/popup-notification.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* main colors */
:root {
  --red: #e40038;
  --blue: #00234d;
  --grey-light: #edf0f5;
  --grey: #e9ecf1;
  --grey-highlight: #e9ecf1bf;
  --shadow: 0px 8px 24px rgba(50, 4, 36, 0.1);
  --white: #fff;
  --black: #000;
  --black-shade: rgba(0, 0, 0, 0.5);
  --max_width: 757px;
  --margin_center: 0 auto;
  --transition: all 0.3s ease;
}

/* old menu */

.header {
  font-size: 0.75rem;
  font-weight: 500;
}

.main__nav-link,
.main__nav-button-text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.main__nav-link.link-active {
  border-bottom: 2px solid var(--red);
  opacity: 1;
}

/* calendar */

.calendar {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0.5rem 2.75rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.calendar__wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex: 1;
}

.calendar__month {
  display: grid;
  /* grid-template-columns: repeat(5, minmax(0, 183px)); */
  grid-template-rows: repeat(5, minmax(150px, auto));
  column-gap: 1px;
  /* background-color: #fff; */
  min-height: 75vh;
  /* border-radius: 52px; */
  position: relative;
  z-index: 1;
  /* background-color: #fff; */
}

.calendar__header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 4.3rem;
}

.calendar__header--container {
  /* width: 250px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 1rem;
  transform: translateX(-50px);
}

.calendar__header h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.day {
  display: flex;
  flex-direction: column;
  /* border-left: 1px solid #e9ecf1; */
  padding: 12px;
  padding-left: 9px;
}

.noBorder {
  display: flex;
  flex-direction: column;
  border-left: none;
  padding: 12px;
  padding-left: 9px;
  /* background-color: #fff; */
}

.day__text {
  font-size: 1rem;
  line-height: 1.25rem;
  /* padding: 0.25rem; */
  margin-left: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.weekdays {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
}

.weekdays__header {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 183px));
  column-gap: 1px;
}

.weekdays__header p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5rem;
  /* padding: 0.25rem; */
  padding-left: 1.25rem;
  background-color: var(--white);
}

.highlightDay {
  color: var(--red);
}

.btn-container {
  display: flex;
  gap: 0.25rem;
}

.arrow {
  background-color: var(--white);
  border: none;
  outline: none;
}
.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  transform: scale(1.1);
}

.highlightWeek {
  background-color: var(--grey-highlight);
}

.highlightWeek.leftRounded {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  /* border-left: 1px solid #e9ecf1; */
}
.highlightWeek.rightRounded {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
/* search form */

/* form.search-form {
  width: "100%";
  margin: "0 auto 2.5rem";
  display: "flex";
  gap: "38px";
}



.search-form__input {
  display: "block";
  background: "#e9ecf1";
  width: "calc(100% - 128px)";
  border: "none";
  outline: "none";
  height: "48px";
  border-radius: "12px";
  background-color: red;
}

.search-form__btn {
  display: "block";
  background-color: "red";
  color: "white";
  width: "120px";
  border: "none";
  outline: "none";
  height: "48px";
  border-radius: "12px";
} */

.search-form {
  width: 100%;
  margin: 0 auto 2.5rem;
  /* display: flex; */
  column-gap: 0.5rem;
  /* ---- */
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 120px;
}
.search-input-container {
  position: relative;
  /* width: 100%; */
}

.search-form__input {
  display: block;
  background-color: var(--grey);
  /* width: calc(100% - 128px); */
  width: 100%;
  border: none;
  outline: none;
  height: 48px;
  padding: 1rem 1.25rem 1rem 3rem;
  border-radius: 12px;
  font-size: 0.75rem;
}

.search-form__btn {
  display: block;
  background-color: var(--red);
  color: var(--white);
  width: 120px;
  border: none;
  outline: none;
  height: 48px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.search-form__btn:hover {
  opacity: 0.8;
}

.search-icon {
  position: absolute;
  top: 16px;
  left: 21px;
  transform: scale(1.2);
  color: var(--black-shade);
}

.search-reset-icon {
  position: absolute;
  display: grid;
  place-content: center;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--black-shade);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  /* cursor: pointer; */
  transition: 0.2s ease;
}

.search-reset-icon:hover {
  color: var(--red);
}

/* days past */

.dim {
  opacity: 0.5;
  color: inherit;
}

/* sidebar */

.sidebar {
  width: 274px;
}

.sidebar__form {
  display: flex;
  flex-direction: column;
}

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.checkbox-input input[type="checkbox"] {
  accent-color: var(--red);
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.checkbox-input label {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
}

.select-input,
.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.format-select,
.type-select {
  border: 0;
  outline: none;
  background-color: var(--grey);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  width: 274px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.32px;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.select-input ul {
  background-color: var(--grey);
  list-style: none;
  border-radius: 0.75rem;

  width: 274px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.32px;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}
.select-input li {
  background-color: #fff;
  padding: 0.75rem 1rem;
  transition: all 0.2s ease;
}
.select-input li:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.select-input li:last-child {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.select-input li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-container button {
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  letter-spacing: 0.25px;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.button-container button:hover {
  opacity: 0.8;
}

.button-container button:first-child {
  background-color: var(--red);
  color: var(--white);
}
.button-container button:last-child {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey);
}

.event {
  background-color: var(--white);
  text-decoration: none;
  border: 1px solid var(--grey);
  /* border: none; */
  height: 31px;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 10px;
  margin: 0 0.25rem;
  box-shadow: var(--shadow);
  color: var(--black);

  /* width: 180px; */
}

.event-registered {
  border: 1px solid var(--red);
}

.multiWeekEventStart {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.multiWeekEventEnd {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.week {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 183px));
  grid-template-rows: repeat(5, minmax(0, auto));
  /* background: transparent; */
  border-radius: 12px;
  padding: 12px 0;
}
.highlight {
  background-color: rgba(233, 236, 241, 0.75);
}

.currentWeekDay {
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  /* background-color: yellow; */
  height: auto;
}

.events {
  /* background-color: purple; */
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  grid-column: 1 / span 5;
  row-gap: 4px;
  align-items: center;
  grid-auto-flow: column;
}

.month-grid {
  position: relative;
  z-index: 2;
  /* margin-left: 12px; */
}

.grid-lines {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 183px));
  grid-template-rows: repeat(5, minmax(150px, auto));
  column-gap: 1px;
  /* border: 2px solid red; */
  /* background-color: blue; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* margin: 12px; */
  /* background-color: #fff; */
  background-color: #e9ecf1;
  width: 100%;
  height: 100%;
}

.grid-lines div {
  background-color: #fff;
}

/* events position */

[data-span="1"] {
  grid-column-end: span 1;
}
[data-span="2"] {
  grid-column-end: span 2;
}
[data-span="3"] {
  grid-column-end: span 3;
}
[data-span="4"] {
  grid-column-end: span 4;
}
[data-span="5"] {
  grid-column-end: span 5;
}
[data-span="6"] {
  grid-column-end: span 6;
}
[data-span="7"] {
  grid-column-end: span 7;
}
[data-span="8"] {
  grid-column-end: span 8;
}
[data-span="9"] {
  grid-column-end: span 9;
}

[data-start="1"] {
  grid-column-start: 1;
}
[data-start="2"] {
  grid-column-start: 2;
}
[data-start="3"] {
  grid-column-start: 3;
}
[data-start="4"] {
  grid-column-start: 4;
}
[data-start="5"] {
  grid-column-start: 5;
}

[data-isfirst="1"] {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
[data-ismiddle="1"] {
  border-radius: 0;
  margin: 0;
  border-left: none;
  border-right: none;
}
[data-islast="1"] {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
/* loader */
.loader-container {
  width: 100%;
  height: 100vh;
  display: none;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader-container.show {
  display: grid;
  z-index: 9999;
}

.loader {
  /* background-color: var(--blue); */
  width: 48px;
  height: 48px;
  /* border: 5px solid var(--white); */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid;
  border-color: var(--white) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* nav */

.calendar-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.25rem 0.5rem 0;
}

.nav-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  padding: 14px 16px;
  border-radius: 12px;
  background: var(--grey);
  color: var(--black);
  font-size: 10px;
  font-weight: 500;
  transition: var(--transition);
}

.nav-link:hover {
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.active {
  background: var(--blue);
  color: var(--white);
}
/* banner */

.banner {
  /* max-width: 1280px; */
  height: 240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner > p {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
}

/* event info */

.event-info {
  background-color: var(--white);
  height: 100vh;
  width: 640px;
  position: fixed;
  top: 0;
  /* right: -100%; */
  right: 0;
  z-index: 900;
  transition: all 1s ease;
  display: block;
  padding: 70px 56px 50px;
  overflow-y: auto;
}

.close-sidebar {
  display: none;
}

/* overlay */

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #565e6b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  opacity: 0.32;
}

.close-sidebar-btn {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 901;
}

.close-sidebar-btn svg {
  font-size: 14px;
  color: var(--black);
}

.close-sidebar-btn svg:hover {
  color: var(--red);
}
.event-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 1.5rem;
}
.event-info-header svg {
  font-size: 16px;
  font-weight: 300;
}

.time-date-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.time-date-container .date {
  display: flex;
  align-items: center;
  gap: 6px;
}
.time-date-container .time {
  display: flex;
  align-items: center;
  gap: 6px;
}
.event-info-header .share {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
  font-size: 10px;
  transition: var(--transition);
}

.event-info-header .share:active {
  transform: scale(1.02);
}
.event-info-header .share:hover {
  color: var(--red);
}

.info-text {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(5, min-content);
  column-gap: 2rem;
  row-gap: 0.5rem;
  font-size: 14px;
}

.type {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.type p {
  font-size: 0.75rem;
}

.type svg {
  font-size: 1.5rem;
}

.info-title {
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

.info-text {
  padding: 1.5rem 0 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  border: 1px solid var(--grey);
  border-left: none;
  border-right: none;
}

.info-text p:nth-child(odd) {
  color: rgba(0, 0, 0, 0.4);
}

.info-text p:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

.info-text p:last-child * {
  color: var(--black);
}

.info-button-container button {
  width: 197px;
  height: 48px;
  border: none;
  outline: none;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  /* letter-spacing: -0.24px; */
}

.info-button-container button:hover {
  opacity: 0.8;
}

/* ========modal======== */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-shade);
  z-index: 990;
  display: grid;
  place-content: center;
}
.check {
  background-color: var(--white);
  width: 340px;
  height: 190px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.check button svg {
  color: var(--black);
  transform: scale(0.75);
}

.check svg {
  color: var(--red);
  font-size: 3rem;
}

.check p {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.check button {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  cursor: pointer;
}
.check button > svg {
  background-color: white;
  border-radius: 50%;
  font-size: 2.5rem;
}

/* scrollbar styling */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: #bec0cd;
  border-radius: 10px;
}

/* error page */

main.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error-page h1 {
  font-size: 12rem;
  color: var(--blue);
  margin: 0;
}
.error-page p {
  font-weight: 500;
}

.error-page a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

/* registration loader */

.loading-spinner {
  width: 35px;
  padding: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--white);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* =========Rating block=============== */

.rating-card {
  background: linear-gradient(
    135deg,
    rgba(254, 217, 217) -12.431%,
    rgb(251, 247, 200) 100%
  );
  width: 330px;
  min-height: 334px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 12px;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(150%);
}
.rating-show {
  /* transform: translate(0); */
  animation: showPopup ease 0.6s alternate forwards 10s;
}

@keyframes showPopup {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

input[type="radio"] {
  display: none;
}

.rating-card > h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  margin-bottom: 12px;
}

.rating-card p {
  font-size: 12px;
  line-height: 1rem;
  /* font-weight: 500; */
}

.rating-card textarea {
  outline: none;
  border: none;
  border-radius: 10px;
  /* width: 288px;
  height: 87px; */
  overflow: auto;
  resize: none;
  font-size: 12px;
  line-height: 21px;
  padding: 0.5rem;
  width: 100%;
}

.rating-card .save-rating {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 10px 22.5px;
  display: inline-block;
  font-size: 12px;
  color: var(--white);
  background-color: var(--red);
  align-self: flex-end;
  cursor: pointer;
  transition: var(--transition);
  min-width: 112px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-card .save-rating:hover {
  opacity: 0.8;
}

.rating-card .close-rating {
  display: grid;
  place-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #adadad;
  cursor: pointer;
}

.rating-card .close-rating > svg {
  font-size: 1.2em;
}

.star-container {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

.star-container.not-rated {
  border: 2px solid var(--red);
}

.star-container svg {
  /* color: var(--red); */
  color: rgba(228, 0, 56, 0.3);
  cursor: pointer;
}

/* gratitude card */

.rating-card > .gratitude {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  row-gap: 1.25rem;
}

.gratitude > h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  margin-bottom: 12px;
}

.gratitude button {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 10px 22.5px;
  font-size: 12px;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  transition: var(--transition);
  min-width: 112px;
  height: 35px;
}
.gratitude button:hover {
  opacity: 0.8;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
}

.modal_content h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 25px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.leader span {
  border-bottom: 1px solid #000;
  font-weight: bold;
  color: #C00000;
  width: 60%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
}
.leader svg {
  font-size: 1.5em;
}
.create-event-button {
  background-color: var(--red)!important;
  color: var(--white)!important;
}

.search-bar input{
  display: inline-block !important;
  width: 90%!important;
}

.search-bar svg {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
}

/* Add this CSS in your main stylesheet or within the component if using CSS-in-JS libraries */

.modal {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.modal_content {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  max-height: 80%;
  overflow-y: auto;
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tabs {
  display: flex;
  margin-top: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab-button.active {
  background-color: #c00000;
  color: #fff;
}

.tab-content-container {
  margin-top: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  background-color: #fff;
  color:#000;
}

.readInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.readInput input,
.readInput select,
.readInput textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
}

.readInput input[readonly] {
  background-color: #f9f9f9;
}

.readInputCheckbox {
  display: inline-block;
  margin-bottom: 15px;
}

.readInputCheckbox input {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}



.type-select-create {
  background-color: var(--grey);
  list-style: none;
  border-radius: 0.75rem;

  width: 274px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.32px;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}
.type-select-create li {
  background-color: #fff;
  padding: 0.75rem 1rem;
  transition: all 0.2s ease;
}
.type-select-create li:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.type-select-create li:last-child {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.type-select-create li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.create-dropdown button {
  margin-bottom: 20px;
}

.input-file {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
}
.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  text-align: left;
  height: 40px;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 200px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ddd;
}
.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  border-radius: 0 4px 4px 0;
  background-color: rgb(228, 0, 56);
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
  opacity: 0.8;
}
.input-file:active .input-file-btn {
  background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
  background-color: #eee;
}


